*.pyc
*pyc
*~
api/__pycache__/
api/v1/__pycache__/
project/__pycache__/
api/__pycache__/models.cpython-33.pyc
api/__pycache__/serializers.cpython-33.pyc
api/v1/__pycache__/urls.cpython-33.pyc
api/__pycache__/urls.cpython-33.pyc
api/v1/__pycache__/views.cpython-33.pyc
project/__pycache__/settings.cpython-33.pyc
project/__pycache__/urls.cpython-33.pyc
api/__pycache__/*
api/v1/__pycache__/*
project/__pycache__/*
__pycache__
*.pyc
__pycache__
*.pyc
